<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>a.b.design | {{page.title}}</title>
<link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/menu.css" rel="stylesheet">
</head>

<body>
<!-- Logo Header/Side Nav -->
		<div class="left">
		<header>
			<div class="arrow_box"><a href="#"><img src="{{site.baseurl}}/img/logo-02.png"></a></div>
			<div class="arrow_box_shadow"></div>
			<div class="side_nav_box">
			<ul class="side_nav">
				<li><a href="#">Home</a></li>
				<li><a href="{{site.baseurl}}/index.html">About</a></li>
				<li><a href="{{site.baseurl}}/portfolio.html">Portfolio</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
		</header>
		</div>
		
		<!-- /Logo Header/Side Nav -->
		
		<!-- Clickable Nav -->
		<div class="click-nav">
			<ul class="no-js">
				<li>
					<a class="clicker">Menu</a>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="{{site.baseurl}}/index.html">About</a></li>
						<li><a href="{{site.baseurl}}/portfolio.html">Portfolio</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<!-- /Clickable Nav -->
		
		<!-- Regualr Nav -->
		<div class="reg_nav">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="{{site.baseurl}}/index.html">About</a></li>
				<li><a href="{{site.baseurl}}/portfolio.html">Portfolio</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
		
		{{content}}
		
		<!-- Footer -->
		<footer>
		<a href="https://www.facebook.com/amuelb"><img class="footer_img" src="img/icon-02.png" alt="facebook"></a>
		<a href="https://www.linkedin.com/amuelb"><img class="footer_img" src="img/icon-03.png" alt="linkedin"></a>
		<a href="https://vimeo.com/amuelb"><img class="footer_img" src="img/icon-04.png" alt="vimeo"></a>
		<a href="https://www.twitter.com/amuelb"><img class="footer_img" src="img/icon-05.png" alt="twitter"></a>
		<a href="https://www.behance.net/amuelb"><img class="footer_img" src="img/icon-01.png" alt="behance"></a>
		</footer>
		<!-- /Footer -->
		
		<!-- jQuery -->
		<script src="{{site.baseurl}}/js/menu.js"></script>
		<script>
		$(function() {
			// Clickable Dropdown
			$('.click-nav > ul').toggleClass('no-js js');
			$('.click-nav .js ul').hide();
			$('.click-nav .js').click(function(e) {
				$('.click-nav .js ul').slideToggle(200);
				$('.clicker').toggleClass('active');
				e.stopPropagation();
			});
			$(document).click(function() {
				if ($('.click-nav .js ul').is(':visible')) {
					$('.click-nav .js ul', this).slideUp();
					$('.clicker').removeClass('active');
				}
			});
		});
		</script>
	
</body>
</html>
